<nz-card nzHoverable [nzCover]="coverTemplate" [nzLoading]="!product" [nzActions]="[actionQuantity, actionAdd]">
    <nz-card-meta [nzTitle]="title" [nzDescription]="product.description"></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
    <img [routerLink]="['/', 'home', 'products', product.id]" [src]="product.url" alt="product-img" />
</ng-template>
<ng-template #actionQuantity>
    <div class="action">
        <nz-input-number [(ngModel)]="quantity" [nzMin]="1" [nzStep]="1"></nz-input-number>
    </div>
</ng-template>
<ng-template #actionAdd>
    <div class="action">
        <button (click)="onClickBtnAdd($event)" nz-button nzBlock nzType="primary">
            <span nz-icon nzType="plus"></span>
            Add
        </button>
    </div>
</ng-template>
<ng-template #title>
    <div class="title">
        <span>{{ product.name }}</span>
        <span>${{ product.price }}</span>
    </div>
</ng-template>
