<nz-layout class="app-layout">
    <nz-layout>
        <nz-header>
            <div class="logo"></div>

            <ul
                nz-menu
                nzTheme="dark"
                nzMode="horizontal"
            >
            <li nz-menu-item><a href="/home/products" (click)="onClickProducts($event)">Products</a></li>
            <li nz-menu-item><a href="/home/cart" (click)="onClickCart($event)">Cart</a></li>
            </ul>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
